{% extends "base.html" %}

{% block main %}
{% if user.is_authenticated %}
<section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
          <h2 class="custom_heading">Add a New Post</h2>
{% if not status  %}
<form method="post" >
    {{ add_post_form.as_p }}
    {% csrf_token %}

        <button type="submit">Add New Post</button>

  <br><br><br>
</form>
    {% else %}
            <br> <br>
Thank you! Your post has been added to our database!
{% endif %}

        </div></div>
    </div></section>

{% else %}
<div class="d-flex flex-row justify-content-center align-items-center" style="height: 100px;">
<h4><span style="color:red; font-weight: 900;"> Only loged in user are allowd to add posts. </span>&nbsp;  &nbsp;  <a href="{% url 'login' %}">
              Click here to log in.
            </a>

</h4>    </div></h4>
</div><div class="d-flex flex-row justify-content-center align-items-center" style="height: 100px;">
       <h5>   You do tot have an account  &nbsp;  &nbsp;  <a href="{%  url 'register' %}"> Click Here Register </a> </h5>
</div>
      {% endif %}

  {% endblock main %}