<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Assignment Module 7</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet" />

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- responsive style -->
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body class="sub_page">
{% include "header.html" %}
{% block main %}{% endblock main %}
{% include "footer.html" %}




  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/circles.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>