{% extends "base.html" %}

{% block main %}
<section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 offset-lg-2 col-md-4 offset-md-2">
          <h2 class="custom_heading">Join us:</h2>
            <br><p style="color:red; font-weight: 900;">{{status}}</p><br>
<form method="post" >
    {{ rergform.as_p }}
    {% csrf_token %}
     <button type="submit">Join</button>

  <br><br><br>
</form>

            <br>
            If you already have an account <a href="{%  url 'login' %}">Click Here to Login</a>
<br>

        </div></div>
    </div></section>
  {% endblock main %}